*.sty
*.vtk
*.o
*sty
*~
*#
*.pdf
*.aux
*.bst
*.nc
*.so
*.Log
*.mod
*LogFile
*.grd
*.log
*.ep
FISOC_caller
a.out
FISOC_mesh1a_2D/
FISOC_mesh1a_3D/
FISOC_mesh1a_DEM/
doc/FISOC_manual.aux
doc/FISOC_manual.out
doc/FISOC_manual.pdf
doc/README_copernicus_package_3_6.txt
examples/MISevolSetup4Elmer/README
examples/MISevolSetup4Elmer/longThinMIS.grd
examples/MISevolSetup4Elmer/longThinMIS.sif.template
examples/MISevolSetup4Elmer/makeSimpleDEM.py
examples/ElmerIceSetup/
examples/MISevolSetup4Elmer/longThinMIS.sif
examples/MISevolSetup4Elmer/longThinMIS/
examples/MISevolSetup4Elmer/longThinMIS_DEM/
examples/MISevolSetup4Elmer/longThinMIS_meshOnly.sif
examples/MISevolSetup4Elmer/longThinMIS_restart.sif
examples/MISevolSetup4Elmer/meshFiles.tar
examples/MISevolSetup4Elmer/old/
examples/MISevolSetup4Elmer/tmp/
examples/PYELA_merged.sif
examples/PYELA_merged.sif.tmp
examples/Test_Buoyancy/
examples/TeteRousse_2012/
examples/flowline/
examples/flowline2/
examples/flowlineMeshTests/
examples/flowline_MM/
examples/flowline_MMB/
examples/flowline_MMBudd/
examples/flowline_linMelt/
examples/longThinMIS/
examples/longThinMIS_periodic/
examples/mesh1a.sif
examples/mesh1a_periodic.sif
examples/meshGen/FISOC_mesh1a_1D_flowline/
examples/meshGen/FISOC_mesh1a_2D_flowline/
examples/meshGen/FISOC_mesh1a_DEM_fl/
examples/meshGen/FISOC_mesh1b_1D_flowline/
examples/meshGen/FISOC_mesh1b_2D_flowline/
examples/meshGen/FISOC_mesh1b_DEM/
examples/meshGen/FISOC_mesh1b_DEM_fl/
examples/meshGen/FL2Dmesh_nx1000/
examples/meshGen/FL2Dmesh_nx2000/
examples/meshGen/FL2Dmesh_nx250/
examples/meshGen/FL2Dmesh_nx4000/
examples/meshGen/FL2Dmesh_nx500/
examples/meshGen/FL2Dmesh_nx8000/
examples/meshGen/PYELA_merged.sif.tmp
examples/meshGen/scp2Raij
examples/meshGen/scp2Tait
examples/meshGen/test/
src/utils/longThinMIS/
