
 # This is "Resource File" (.rc file), a type of configuration file, for use with ESMF.  
 # This .rc file contains configuration information for FISOC.
 #
 # Syntax:
 # It contains a list of <label,value> pairs.
 # The colon after the label is required. 
 # 
 # Further notes:
 # Although FISOC uses <label, value> pairs, the values after the label can also be a list.
 # Multiple types are allowed.
 # For example:
 #  my_file_names:         jan87.dat jan88.dat jan89.dat  # all strings
 #  constants:             3.1415   25                    # float and integer
 #
 # Or, the data can be located in a table using the following syntax:
 #  my_table_name::
 #   1000     3000     263.0
 #    925     3000     263.0
 #    300     3000     295.8
 #  ::

  ISM_meshFile:    longThinMIS.nc
  ISM_configFile:  someDir/someFile.sif
  ISM_name:        dummy

  OM_configFile:   someDir/someFile
  OM_name:         dummy
  
  OM_dt_sec:       2000   
  dt_ratio:        4 
  start_year:      2010
  start_month:     1
  end_year:        2010
  end_month:       2

  tight_coupling:  .TRUE.



