
 # This is "Resource File" (.rc file), a type of configuration file, for use with ESMF.  
 # This .rc file contains configuration information for FISOC. 
 # See also FISOC manual and ESMF documentation.
 #
 # Syntax:
 # It contains a list of <label,value> pairs.
 # The colon after the label is required. 
 # 
 # Further notes:
 # Although FISOC uses <label, value> pairs, the values after the label can also be a list.
 # Multiple types are allowed.
 # For example:
 #  my_file_names:         jan87.dat jan88.dat jan89.dat  # all strings
 #  constants:             3.1415   25                    # float and integer
 #
 # Or, the data can be located in a table using the following syntax:
 #  my_table_name::
 #   1000     3000     263.0
 #    925     3000     263.0
 #    300     3000     295.8
 #  ::

  ISM_configFile:     someDir/someFile.sif
  FISOC_ISM_ReqVars:  ISM_temperature_l0 ISM_temperature_l1 ISM_z_l0 ISM_z_l1
  ISM_ReqVars:        
  FISOC_ISM_DerVars:  ISM_z_l0_previous ISM_dTdz_l0 ISM_dddt  

  OM_configFile:      /home/elmeruser/Source/romsIceShelf/ROMS/External/ocean_iceshelf2d.in
#  OM_configFile:      /home/elmeruser/Source/ROMSIceShelf/ROMS/External/ocean_iceshelf2d.in

  FISOC_OM_ReqVars:   OM_dBdt_l0 OM_temperature_l0
  OM_ReqVars_stagger: CENTER CENTER
  OM_ReqVars:         sst sst
  FISOC_OM_DerVars:   
  OM_writeNetcdf:     .TRUE.

  OM_outputInterval:  1
  OM_dt_sec:          3153600
  dt_ratio:           1
  start_year:         2010
  start_month:        1
  end_year:           2011
  end_month:          3
  runLength_ISM_steps:10

  verbose_coupling:   .FALSE.


