
# This is a config file for reading in forcing data to use through FISOC to 
# force ROMS.  To be used with ISM set to FOOL (FOrced OffLine) at FISOC 
# compile time.
# 
# This example is for use with the ISOMIP+ ocean 3 and 4 forcing data, 
# obtainable from:
# http://dataservices.gfz-potsdam.de/pik/showshort.php?id=escidoc:1487953
# A fair bit of hard coded stuff here.  Could gain more flexibility in 
# future if needed.
# 
# forcingDataFormat NYI, assume netcdf
# 
  ForcingDir:          /short/ks3/rmg581/FISOC/examples/Ex3_offlineISM/ocn3Forcing/tmp_25thSept_dsdt/
#  ForcingDir:          /home/elmeruser/Work/MISOMIP_prep/ISOMIP/
  ForcingDataFormat:   netcdf
  ForcingBaseName:     isomip_plus_ocean3_

  NumForcingFiles:     100 
  ForcingInterval_yr:  1  # interval in years
  ForcingStartYr:      1

  # currently hard coded, but other options for the grid could be added.
  ISM_gridLayout:      isomip_plus
  # partitioning in i and j directions (best that it matches the ROMS .in tiles)
  NtileI:              4
  NtileJ:              16
