
# ISM params...
!  ISM_configFile:     /homeappl/home/gladston/Source/FISOC/examples/Ex1_LongThinMIS/FISOC_Ex1.sif
  ISM_configFile:     FISOC_Ex1.sif
  ISM_stdoutFile:     EI_out.asc
  FISOC_ISM_ReqVars:  ISM_z_l0
  FISOC_ISM_DerVars:  ISM_z_l0_previous ISM_dddt  
  ISM2OM_vars:        

# OM params...
!  OM_configFile:      /homeappl/home/gladston/Source/ROMSIceShelf_devel/ROMS/External/ocean_iceshelf2d.in
  OM_configFile:      ocean_iceshelf2d.in
  OM_stdoutFile:      ROMS_stdout.asc
  OM_writeNetcdf:     .TRUE.
  FISOC_OM_ReqVars:   OM_dBdt_l0 OM_temperature_l0
  OM_ReqVars_stagger: CENTER CENTER
  OM2ISM_vars:        
  OM_initCavityFromISM: .FALSE.

# Shared params...
#  output_dir:         /homeappl/home/gladston/Source/FISOC/examples/Ex1_LongThinMIS/FISOC_outputs
  output_dir:         $WRKDIR/elmerSimulations/FISOC_Ex1_a/FISOC_outputs

# timestepping...
  OM_outputInterval:  1
#  OM_outputInterval:  10512
#  OM_dt_sec:          3153600  # 3153600 (sec per month) 86400 sec per day
  OM_dt_sec:          300
#  OM_dt_sec:          3000
  dt_ratio:           288 # ISM dt ... 288 * 300 = 86400 sec = one day.  2880 means 10 days
#  dt_ratio:           10512
  start_year:         2010
  start_month:        1
#  end_year:           2010
#  end_month:          2
  runLength_ISM_steps: 100

# 288 ocn steps of 300 sec per day

!  verbose_coupling:   .FALSE.
   verbose_coupling:   .TRUE.


